openwillis/measures/audio/util/__pycache__/__init__.cpython-310.pyc
openwillis/measures/video/__pycache__/face_landmark.cpython-310.pyc
*.cpython-310.pyc
openwillis/measures/video/__pycache__/face_landmark.cpython-310.pyc
.DS_Store
openwillis/measures/video/.DS_Store
openwillis/measures/video/__pycache__/face_landmark.cpython-310.pyc
openwillis.egg-info
openwillis.egg-info/dependency_links.txt
openwillis.egg-info/not-zip-safe
openwillis.egg-info/PKG-INFO
openwillis.egg-info/requires.txt
openwillis.egg-info/SOURCES.txt
openwillis.egg-info/top_level.txt
.DS_Store
.gitignore
openwillis/measures/video/__pycache__/face_landmark.cpython-310.pyc