#Python (3+)
tensorflow==2.9.0
mediapipe==0.8.10
opencv-python==4.6.0.66
protobuf==3.20.0
pandas==1.4.2
protobuf3-to-dict==0.1.5
praat-parselmouth==0.4.3
pydub==0.25.1
deepface==0.0.75
vosk==0.3.45
vaderSentiment==3.3.2
nltk==3.8.1
lexicalrichness==0.5.0
piso==0.9.0
torch==1.13.1
pyannote.audio==2.1.1
diart==0.6.0
sentence-transformers==2.2.2
huggingface-hub==0.10.1
boto3==1.26.106
