#Python (3+)
torch==2.5.1
transformers==4.46.3
sentence-transformers==3.3.1
boto3==1.35.72
scipy==1.11.4
vosk==0.3.44
pyannote.audio==3.3.2
huggingface-hub==0.26.3
pydub==0.25.1
tf-keras<=2.18.0,>=2.15.1
whisperx==3.3.0
numpy<1.28.0,>=1.23.5
